# make sure torch is already installed. 
# use  one of the following commands to install torch 2.1.1 depending on the cuda version.
# pip install torch==2.1.1 torchvision==0.16.1 torchaudio==2.1.1 --index-url https://download.pytorch.org/whl/cu121
# pip install torch==2.1.1 torchvision==0.16.1 torchaudio==2.1.1 --index-url https://download.pytorch.org/whl/cu118
packaging
transformers==4.35.2
peft
accelerate
bitsandbytes
safetensors>=0.4.1
trl
scipy
evaluate
scikit-learn
protobuf==3.20.3
deepspeed
wandb
huggingface-hub
sentencepiece
tensorboard